body{
    background-image: url("kepek/hatter3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
}
main{
    max-width: 1000px;
    margin: auto;
    background-color: wheat;
    display: flex;
    flex-direction: column;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
}
li a:visited{
    color: black;
}

li a:hover{
    cursor: pointer;
    color: blue;
}

footer{
    text-align: center;
    font-size: smaller;
}
.mini{
    font-size: x-small;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article img{
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

article img:hover{
    transform: scale(1.35);
    cursor: pointer;
}

article{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
}