body {
    background-image: url("kepek/hatter3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* opacity: 0.9; */
}

main {
    width: 1000px;
    margin: auto;
    background-color: wheat;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #eaba61;
    padding: 20px;
}

nav div a {
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 0 10px 0 10px;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

article .comics {
    display: flex;
    flex-direction: row;
}

footer {
    padding: 20px;
    background-color: #eaba61;
}


@media screen and (max-width: 600px) {
    article .comics {
        flex-direction: column;
    }
}