body{
    background: url("kepek/hatter3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    border: 1px solid black;
    text-align: center;
}

nav{
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.menubar a{
    text-decoration: none;
    padding: 10px;
}

main{
    width: 1000px;
    margin: auto;
}

article{
    background-color: rgb(180, 50, 50);
    text-align: center;
}

article img {
    max-width: 100%;
    padding:20px;
}

footer{
    text-align: center;
    background-color: white;
}